.weather {
  min-height: 100px;
  width: 350px;
  border: 1px solid #ffffff66;
  border-radius: 10px;
  background: #2f2f2f22;
  backdrop-filter: blur(40px);
  position: absolute;
  left: 10px;
  top: 30px;
  padding: 10px;
  color: white;
  font-weight: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 10px 0px 50px -10px #00000077;

  &:hover {
    scale: 1.05;
    left: 20px;
    transform-origin: left;
    z-index: 999999999999;
  }

  h3 {
    font-size: 1rem;
    font-weight: 100;
  }

  hr {
    border: 0.5px solid #ffffff66;
    width: 100%;
    margin: 10px 0px;
  }
}
