* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  transition:all 200ms ease-in-out;
}

.app{
  height:100vh;
  width:100vw;
  background-image: url("https://images.pexels.com/photos/6985001/pexels-photo-6985001.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
