* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  transition:all 200ms ease-in-out;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  &::-webkit-scrollbar{
   display:none
  }
}

.app{
  height:100vh;
  width:100vw;
  background-image: url("https://wallpapershome.com/images/pages/pic_h/23824.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
