* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  transition:all 200ms ease-in-out;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  &::-webkit-scrollbar{
   display:none
  }

  &::selection{
    background:none;
  }
}

.app{
  height:100vh;
  width:100vw;
  background-image: url("https://images.unsplash.com/photo-1614850523459-c2f4c699c52e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3540&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
